@import "../../../../common/styles/const.css";

.row {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.labelWrapper {
  gap: 8px;
  display: flex;
  align-items: center;
}

.label {
  font-size: 16px;
  line-height: 22px;
  font-weight: var(--font-weight-medium);
  color: var(--color-black);
}

.separator {
  border-color: var(--color-grey-1);
}
